.button{
  padding: .5em 1em;
  display: inline-block;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: all .5s;

  &:hover{
    background: #ddd;
  }

  &.primary{
    background: #7755a5;
    color: #fff;
    border-color: #7755a5
  }

  &.disabled{
    opacity: .5;
  }

  + .button{
    margin-left: 1em;
  }

}
