#login{
  align-items: center;
  justify-content: center;
  background: linear-gradient( -240deg, #5d8acd, #785FCD );
}

.login-box{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2em;
  box-sizing: border-box;
  background: #fff;
}
