main{
  display: flex!important;
  min-height: calc( 100vh - 80px );
}

.main-content{
  width: 70%;
  float: left;
  background: #eee;
  padding: 2em;
}

.sidebar{
  width: 30%;
  float: right;
  background: linear-gradient( -240deg, #5d8acd, #785FCD );
  padding: 2em;
  color: #fff;
  position: relative;
  transition: all .5s;

  &:after{
    width: 100vw;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    right: -100vw;
    top: 0;
    background: #fff;
    transition: right .5s;
    z-index: -1;
  }

 /* &:hover{
    box-shadow: -12px 0 8px -2px #aaa;
    transform: translateX(12px);
    &:after{
      right: 0;

    }

  }*/
}

.section{
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
}
